:root {
    --color-base: #F1404B;
}

.search-container {
  color: white;
  display: grid;
  text-align: center;
  justify-content: center;
  grid-template-columns: 300px;
  margin-bottom: 30px;
}

.table {
  background: white;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

.boton-historico {
  margin-top: 5px;
  background: var(--color-base);
}

.boton-historico:hover {
  background:var(--color-base);

}

.title {
  margin: 0; 
  color:var(--color-base);
}

.parrafo {
  color: white;
  margin-left: 23px;
  margin-top: 10px;
}

.container-parrafo {
  display: grid;
  border-radius: 2px;
  margin: 0px 0px 70px 40px;
  border-bottom: 2px solid var(--color-base);
  grid-template-columns: 1fr min-content;
}

.triangle {
  width: 130px;
  height: 80px;
  background: linear-gradient(to bottom right, #072146 0%, #162d4f 50%, #2DCCCD 50%, #218a8b 100%);
}

.skewed::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 6em;
  width: 100%;
  height: calc(var(--heading-height) + 10em);
  z-index: -1;
  transform: skewY(-3.5deg);
  background: 
    linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    linear-gradient(#4e4376, #2b5876);
  background-size: cover;
  border-bottom: .2em solid #fff;
}

@media only screen and (max-width: 768px){
  .container-parrafo {
    margin-right: 40px;
    grid-template-columns: 1fr;
  }
  .triangle{
    display: none;
  }
}

.th {
  text-align: center !important;
}